<div id="<%= dom_id @gear %>">
  <p>
    <strong>Name:</strong>
    <%= @gear.name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @gear.category %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @gear.price %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= @gear.brand %>
  </p>

  <p>
    <strong>Owner Email:</strong>
    <%= @gear.user.email %>
  </p>

  <%= cl_image_tag @gear.photo.key, height: 300, width: 400, crop: :fill %>

</div>
