
<div class="row">
  <% @gears.each do |gear| %>
    <div class="col-md-4 p-2">
      <div class="card border-0" style="width: 18rem;">
        <%= cl_image_tag gear.photo.key, class:"card-img-top mt-2" %>
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <p><strong><%= gear.brand %></strong></p>
            <p style="color: grey">$<%= gear.price %> per day</p>
          </div>
        <p class="card-text" style="white-space:nowrap;"><%= gear.name %></p>
        <%= link_to "Check it out now!", gear, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
