

<p style="color: green"><%= notice %></p>
<h2 class="mt-3">Welcome and pick your gears here!</h2>
<%= form_with url: gears_path, method: :get, class: "d-flex m-1" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find gear you want"
  %>
  <%= submit_tag "Search", class: "btn btn_none mx-1" %>
<% end %>
<%= render "gears/list", lists: @gears %>
<%= paginate @gears %>
<%# <%= link_to "All gears you uploaded!", gears_myitems_path%>
<%# <%= link_to "New gear", new_gear_path%>
<%# <%= link_to "All of my Reservations", reservations_path%>
<%# <%= link_to "All of my Gears' Reservations", reservations_mygear_path(current_user)%>
