<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% end %>


<div class="row m-5", id="gear_card">
  <div style="height: 350px; width: 500px;">
    <%= cl_image_tag @gear.photo.key, class:"col-6", id:"gear_photo"%>
  </div>
  <div class="mx-3 col-5">
    <h5><strong> <%= @gear.brand %> </strong></h5>
    <h3><strong> <%= @gear.name %> </strong></h3>
    <h6><strong> $<%= @gear.price %> per day </strong></h6>

    <%  if @gear.user != current_user%>
      <%= simple_form_for [@gear, @reservation], data: { controller: 'flatpickr' } do |f|%>
        <div class="d-flex">
          <%= f.input :reserve_from, as: :string, label: "Start Date", input_html: { data: { flatpickr_target: "startTime" } } %>
          <span class="mx-2"></span>
          <%= f.input :reserve_to, as: :string, label: "End Date", input_html: { data: { flatpickr_target: "endTime" } } %>
        </div>
        <%= f.submit "Reserve Now", class: "btn btn_primary btn-block w-100 mt-3" %>
      <% end %>
    <% end %>

    <div>
      <%= link_to "Edit", edit_gear_path(@gear), class: "btn btn_primary btn-block w-100 mt-3" if policy(@gear).edit? %>
      <%= button_to "Remove", @gear, class: "btn btn_secondary btn-block w-100 mt-2", method: :delete if policy(@gear).destroy? %>
    </div>

    <p class="mt-3 mb-2"><strong>Category:</strong> <%= @gear.category %></p>

    <p class="my-0">
      <strong>Description:</strong>
      <%= @gear.description %>
    </p>

     <p class="my-0">
        <strong>Review:</strong>
        <% @gear.reviews.each do |review|%>
        <%= review.rating%>
        <%= review.comment%>
        <% end %>
      </p>

  </div>
</div>
