<p style="color: green"><%= notice %></p>

<%= render "gears/gear" , locals: {gear:@gear }%>
<%= cl_image_tag("vj6szkzbuwqehizfbr7s",
      width: 400, height: 300, crop: :fill) %>

<div>
  <%= link_to "Edit this gear", edit_gear_path(@gear) %>
  <%= link_to "Back to gears", gears_path %>
  <%= link_to "Make a reservation", new_gear_reservation_path(@gear) %>
  <%= button_to "Destroy this gear", @gear, method: :delete if policy(@gear).destroy? %>
</div>
