<!DOCTYPE html>
<html>
  <head>
    <title>Campinggears</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container mt-3">
        <%= render "shared/navbar" %>
        <%= render "shared/flashes" %>
        <%# <img src="camping_banner_2.jpg" alt=""> %>
        <%# <%= image_tag "camping_banner_2.jpg", class:"banner mt-2", alt: "Banner" %>
        <%= yield %>
    </div>
  </body>
</html>
